<%
  settings = Setting.plugin_homnet
  project_ids = settings['project_ids'].to_a
  if @issue.project_id.to_s.in?(project_ids) &&
      @issue.author.roles.ids.include?(settings['homnet_hd_role'].to_i)
    cf = ProjectCustomField.find_by(id: Setting.plugin_homnet['homnet_hd_assign_field'])
    @issue.assigned_to_id = @issue.project.custom_value_for(cf)&.value
  end
%>