- plugin_settings_tag = "plugin_#{@plugin.id}"
- plugin_settings = Setting.send(plugin_settings_tag)

%fieldset.settings
  .splitcontentleft
    %fieldset.settings
      //%p= plugin_setting_select_from_collection :homnet_hd_project, Project.all, blank: :label_none
      //#%p= plugin_setting_select_from_collection :homnet_hd_group, Group.all, blank: :label_none
      //#%p= plugin_setting_select_from_collection :homnet_hd_user, User.all, blank: :label_none


      %p= plugin_setting_select_from_collection :homnet_hd_role, Role.all, blank: :label_none
      %p= plugin_setting_select_from_collection :homnet_hd_assign_field, ProjectCustomField.where(field_format: 'user').all, blank: :label_none

      %p= plugin_setting_select_from_collection :homnet_hd_accept_field, IssueCustomField.where(field_format: 'bool').all, blank: :label_none
      %p= plugin_setting_select_from_collection :homnet_hd_month_field, IssueCustomField.all, blank: :label_none


  .splitcontentright
    - projects = Project.all
    - setting = 'project_ids'
    - project_ids = plugin_settings[setting].to_a
    %fieldset.box#homnet_project_ids
      %legend Клиентские проекты
      = render_project_nested_lists(projects) do |p|
        %label.no-css(style="margin-left:0px" )
          = check_box_tag("settings[project_ids][]", p.id, project_ids.include?(p.id.to_s), :id => nil)
          = h(p)
      = hidden_field_tag("settings[project_ids][]", '', :id => nil)
      %p= check_all_links 'homnet_project_ids'
