<style>
  p {text-align: center;}
  table {height:110pt; text-align:center; vertical-align:middle}
  td {width: 105pt}
  td p {font-size:10pt; font-weight:bold;}
</style>
<p align=center style="color:black;">Уважаемый клиент!</p>
<p align=center style="color:black;">
  <%= "Задача «#{@issue.tracker.name} ##{@issue.id}: #{@issue.subject}» - выполнена!"%>
</p>
<p align=center style="color:black;">Просим вас оценить качество работ, выбрав в форме ниже соответствующую оценку:</p>
<table align=center style="height:110pt; text-align:center; vertical-align:middle">
  <tr>
    <td style="width: 105pt" background=<%=attachments['button_bad.png'].url%>>
      <p style="font-size:10pt; font-weight:bold;">
        <%= link_to 'ПЛОХО', "http://#{Setting.host_name}/rating/#{@issue.ratings[2].key}"%>
      </p>
    </td>
    <td style="width: 105pt" background=<%=attachments['button_normal.png'].url%>>
      <p style="font-size:10pt; font-weight:bold;">
        <%= link_to 'НОРМАЛЬНО', "http://#{Setting.host_name}/rating/#{@issue.ratings[3].key}"%>
      </p>
    </td>
    <td style="width: 105pt" background=<%=attachments['button_good.png'].url%> >
      <p style="font-size:10pt; font-weight:bold;">
        <%= link_to 'ХОРОШО', "http://#{Setting.host_name}/rating/#{@issue.ratings[4].key}"%>
      </p>
    </td>
    <td style="width: 105pt" background=<%=attachments['button_perfect.png'].url%> >
      <p style="font-size:10pt; font-weight:bold;">
        <%= link_to 'ОТЛИЧНО', "http://#{Setting.host_name}/rating/#{@issue.ratings[5].key}"%>
      </p>
    </td>
  </tr>
</table>
