<%= form_tag("#{@project.id}/rating/report", :method => "get") do %>
  <%= hidden_field_tag(:project_id, @project.id) %>
  <fieldset class="box tabular">
    <legend>Отчет по оценкам за период</legend>
    C
    <%= text_field_tag(:date_from, nil, :size => 10) %>
    <%= calendar_for('date_from')%>
    по
    <%= text_field_tag(:date_to, nil, :size => 10) %>
    <%= calendar_for('date_to')%>
    <%= submit_tag("Выполнить") %>
  </fieldset>
<% end %>
